* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-size: 100%;
  max-width: 100%;
}
.componentecusto {
  width: 80%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(247, 243, 243);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.componentecusto h1 {
  align-items: flex-start;
  color: blue;
  font-size: 2em;
  margin-top: 15px;
}

.componentecusto b {
  color: black;
  font-size: 1.2em;
  align-self: baseline;
  margin-left: 40%;
}
.componentecusto input {
  margin: 5px 0px 15px 0px;
  padding: 10px 25px;
}
.componentecusto button {
  margin-bottom: 25px;
  padding: 12px 75px;
  background-image: linear-gradient(rgb(72, 72, 223), blue);
  color: white;
  border: none;
}
.componentecusto button:hover {
  background-image: linear-gradient(blue, rgb(72, 72, 223));
  cursor: pointer;
}
.componentecusto ul li {
  float: left;
  margin-right: 25px;
  background-color: darkgreen;
  padding: 15px 20px;
}
.componentecusto ul li h1 {
  color: white;
}
