*{
    padding: 0;
    margin: 0;
   
}
.componentecusto{
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(247, 243, 243);
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items:flex-start;
}
.componentecusto h1{
    background-color: transparent;
}